In [1]:
import pandas as pd

# Path to your new dataset (update the filename)
file_path = 'data/cards_data.csv'

# Load the full dataset
df = pd.read_csv(file_path)

In [2]:
df.isnull().sum()

id                       0
client_id                0
card_brand               0
card_type                0
card_number              0
expires                  0
cvv                      0
has_chip                 0
num_cards_issued         0
credit_limit             0
acct_open_date           0
year_pin_last_changed    0
card_on_dark_web         0
dtype: int64

In [3]:
# Step 1: Drop rows with any null values

# null_rows = df[df.isnull().any(axis=1)]

# if not null_rows.empty:
#     print("Rows with null values (to be dropped):")
#     print(null_rows)
# else:
#     print("No null values found.")

# # Drop rows with nulls

# df = df.dropna()

In [4]:
df.duplicated().sum()

np.int64(0)

In [5]:
# # Step 2: Show and drop duplicate rows
# duplicates = df[df.duplicated()]
# if not duplicates.empty:
#     print("Duplicate rows found:")
#     print(duplicates)
#     df = df.drop_duplicates()
# else:
#     print("No duplicate rows found.")

In [7]:
# Step 3: Save cleaned dataset
df.to_csv('data/cards_data_cleaned.csv', index=False)
print("Cleaned dataset saved to: data/cleaned data/cards_data_cleaned.csv")

Cleaned dataset saved to: data/cleaned data/cards_data_cleaned.csv