In [1]:
import pandas as pd

# Path to your dataset 
file_path = 'data/users_data.csv'

# Load the full dataset
df = pd.read_csv(file_path)

In [2]:
df.isnull().sum()

id                   0
current_age          0
retirement_age       0
birth_year           0
birth_month          0
gender               0
address              0
latitude             0
longitude            0
per_capita_income    0
yearly_income        0
total_debt           0
credit_score         0
num_credit_cards     0
dtype: int64

In [3]:
# Step 1: Drop rows with any null values

# null_rows = df[df.isnull().any(axis=1)]

# if not null_rows.empty:
#     print("Rows with null values (to be dropped):")
#     print(null_rows)
# else:
#     print("No null values found.")

# # Drop rows with nulls

# df = df.dropna()

In [4]:
df.duplicated().sum()

np.int64(0)

In [6]:
# # Step 2: Show and drop duplicate rows
# duplicates = df[df.duplicated()]
# if not duplicates.empty:
#     print("Duplicate rows found:")
#     print(duplicates)
#     df = df.drop_duplicates()
# else:
#     print("No duplicate rows found.")

In [7]:
# Step 3: Save cleaned dataset
df.to_csv('data/users_data_cleaned.csv', index=False)
print("Cleaned dataset saved to: data/cleaned data/users_data_cleaned.csv")

Cleaned dataset saved to: data/cleaned data/users_data_cleaned.csv